#calendar-container {
  width: 1000px;
  margin: auto;
  background-color: white;
  color: black;
  padding: 10px;
}

.fc-content {
  background-color: rgb(49, 200, 192);
  color: black;
  font-size: 1.1em;
}