.input, .field {
  padding-bottom: 10px;
  font-size: 1.15em;

  label {
    padding-right: 10px;
    display: block;
  }

  label::after {
    content: ': ';
  }

  .hint {
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    color: #333;
  }

  abbr {
    font-size: 1.5em;
    color: red;
  }
}

a.danger {
  background-color: red !important;
  text-decoration: none;
}

a.success {
  background-color: rgb(222,241,215) !important;
  text-decoration: none;
  color: black !important;
}

div#error_explanation {
  h2 {
    background: rgb(221, 81, 75);
    font-size: 1.5em;
    color: white;
    padding: 5px;
  }

  ul {
    background: rgb(221, 81, 75);

    li {
      color: white;
      font-size: 1.2em;
      padding: 5px;
    }
    li::before {
      content: '-- ';
    }
  }
}

div.booking_form {
  width: 500px;
  margin: auto;

  h1 {
    text-align: center;
  }
}

div.details {
  background-color: #aaa;
  padding: 10px;
  width: 500px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin: auto;

  p.fields {
    background-color: #eee;
    padding-left: 5px;

    span.field {
      font-size: 1.25em;
      font-weight: bold;
      color: black;
      margin-right: 10px;
    }

    span.value {
      font-size: 1.1em;
    }
  }
}

.charge_amount, .charge_description{
  font-size: 1.25em;
}