ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #555;
  margin-bottom: 10px;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white !important;
  text-align: center;
  padding: 15px;
  text-decoration: none !important;
}

li a:hover {
  background-color: #aaa;
}